
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Hakkında</h2>
<p>
    Bu uygulama bir MVC Stok Takip Sistemidir. <br />
    Kullanıcılar ürünleri ekleyebilir, güncelleyebilir veya silebilir.<br />
    Bu sayfa projenin amacı ve geliştiricisi hakkında bilgi verir.
</p>
<p><strong>Geliştirici:</strong> Ersel Gemici</p>
<p><strong>Teknolojiler:</strong> ASP.NET MVC, Entity Framework, MSSQL</p>

